

.modal-full {
    min-width: 99%;
}

.modal-full .modal-content {
    min-height: 98%;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table.dataTable td {
  padding: 4px 8px 4px 8px;
}

table.dataTable tr {
  cursor: pointer;
}

#outagesTable img {
  height: 22px;
  width: 18px;
}