<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToStdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
		<!-- avoid duplicated logs with additivity=false -->
        <Logger name="me.ineson" level="debug" additivity="false">
            <AppenderRef ref="LogToStdOut"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="LogToStdOut"/>
        </Root>
    </Loggers>
</Configuration>