<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>NBN Outages</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:replace="fragments/layout.html :: assetsHead"></div>

    <!-- Then include the Litepicker library -->
    <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="webjars/ie11-custom-properties/ie11CustomProperties.js"><\x2fscript>');</script>
    <script th:src="@{webjars/litepicker/dist/js/main.js}"></script>

    <script th:src="@{js/dailySummary.js}"></script>

  </head>
  <body id="page-top">

    <div id="wrapper">

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <nav class="navbar navbar-light static-top shadow" style="background-color: #c9ccd1;">

            <form class="d-md-inline-block form-inline navbar-search">
              <div class="input-group">
                <label for="outageDateFrom" class="col-form-label">Outages from&nbsp;</label>
                <input id="outageDateFrom" type="text" class="form-control bg-light col-sm-3" aria-label="Date from" aria-describedby="basic-addon2"/>
                <label for="outageDateTo" class="col-form-label">&nbsp;to&nbsp;</label>
                <input id="outageDateTo" type="text" class="form-control bg-light col-sm-3" aria-label="Date to" aria-describedby="basic-addon2"/>
                &nbsp;
                <button id="submitSearch" class="btn btn-outline-secondary" type="submit">Search</button>
              </div>
            </form>

            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View outages for the past
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a id="reset_week" class="dropdown-item" href="#">week</a>
                <a id="reset_twoweeks"  class="dropdown-item" href="#">two weeks</a>
                <a id="reset_month" class="dropdown-item" href="#">month</a>
              </div>
            </div>

          <!-- End of Topbar -->
          </nav>
        </div>

        <div th:replace="fragments/layout.html :: outageInProgress"></div>

        <!-- Begin Page Content -->
        <div class="container-fluid mt-4">

          <!-- Daily Summary Chart -->
          <div class="card shadow mb-4">

            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Outage Graph</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="dailySummaryChart"></canvas>
              </div>
            </div>
          </div>

          <!-- Daily Summary table -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Outages List</h6>
            </div>
            <div class="card-body">
              <table id="dailySummaryTable" class="table table-striped table-bordered table-compact table-hover" style="width:100%">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Outage Count</th>
                    <th>Number of Failed Tests</th>
                    <th>Total Test count</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>

  <footer th:replace="fragments/layout.html :: footer"></footer>

  <div th:replace="fragments/layout.html :: scrollToTop"></div>

    <script type="text/javascript">

    var dailySummarySubscrition;
    var outageSubscrition;
    var stompClient = createStompClient(function(stomp) {
      dailySummarySubscrition = stomp.subscribe(TOPIC_DAILY_SUMMARY, 
        function(message) {
          handleStompJSONMessage(message, 
            function(dailySummary) {
              // console.log("wrapper - dailySummary", dailySummary);
              updateChartAndTable(dailySummary);
            }
    	  );
        }
      );
      outageSubscrition = stomp.subscribe(TOPIC_LAST_OUTAGE, function(message) {
        handleStompJSONMessage(message,
          function(lastOutage) {
            checkIfOutageInProgress(lastOutage.outage);
          }
        );
      });
    });
    
    var outageDateFrom = moment().subtract(1, 'months');
    var outageDateTo = moment(); 

    function initialisePage() {
      createChartContext();
    	
      var todayDateStr = sessionStorage.getItem("todayDate");
      if( ! todayDateStr || todayDateStr === "") {
    	  todayDateStr = moment().format(UI_DATE_FORMAT);
    	  sessionStorage.setItem("todayDate", todayDateStr)
      }

      var outageDateFromStr = $("#outageDateFrom").val();
      var outageDateToStr = $("#outageDateTo").val();

      // TODO: Adjust dates.
      if(outageDateFromStr && outageDateFromStr != "") {
        var date = moment(outageDateFromStr,UI_DATE_FORMAT);
        if( date.isValid()) {
          outageDateFrom = date;
        }
      }
      if(outageDateToStr && outageDateToStr != "") {
        var date = moment(outageDateToStr,UI_DATE_FORMAT);
        if( date.isValid()) {
          outageDateTo = date;
        }
      }

      getDailySummaryData( outageDateFrom, outageDateTo);
      
      createDateRangePicker( outageDateFrom, outageDateTo);

      setInterval(checkDateRange, 60000)
    }

    $(document).ready(function() {
      $("#reset_week").click( function() { resetDateRangeTo("week")} );
      $("#reset_twoweeks").click( function() { resetDateRangeTo("twoWeeks")} );
      $("#reset_month").click( function() { resetDateRangeTo("month")} );
      $("#submitSearch").click( function() { submitsearch()} );

      if (window.navigator.userAgent.indexOf("Edg") > -1) {
        // For microsoft Edge add a short delay. When going to previous page then it seems that Edge requires a little bit more 
        // time to populate the date fields.
        setTimeout(initialisePage, 10);
      } else {
        initialisePage();
      }
    });
    
    </script>
    
    <div th:replace="fragments/layout.html :: assetsBodyEnd"></div>
    
  </body>
</html>